# Setup

In [1]:
from scipy.constants import *
import numpy as np
import pandas as pd
import seaborn as sns

def centered(df):
    return df.style.set_table_styles([
        {"selector": "th", "props": [("text-align", "center")]},
        {"selector": "td", "props": [("text-align", "center")]}])

print("Setup Complete")

Setup Complete

# Apparatus

In [2]:
# Radius of the first spire
# Measured in meters [m]
r1 = 0.105

# Windings of the first spire
n1 = 200

# Radius of the second spire
# Measured in meters [m]
r2 = 0.015

# Windings of the second spire
n2 = 2000

# Data

In [3]:
# Frequency of the AC in the first circuit
# Measured in Hertz [Hz]
f = np.array([ 10, 20, 30, 40 ])

# Max current in the first circuit
# Measured in Amperes [A]
# Multiplied by a coverting factor (volt to ampere)
I1 = np.array([ 2.803, 2.709, 2.593, 2.453 ]) * 0.0506
I2 = np.array([ 5.748, 5.561, 5.280, 4.953 ]) * 0.0506

# Max induced voltage in the second circuit (EMF)
# Measured in Volts [V]
v1 = np.array([ 0.017, 0.028, 0.041, 0.055 ])
v2 = np.array([ 0.034, 0.062, 0.081, 0.112 ])

# Analysis

In [4]:
def analysis (i_max, v_ind):

    # Theoretical mutual inductance
    # Measured in Henrys [H]
    M_th = ( mu_0 * pi * n1 * n2 * r2**2 ) / (2 * r1)

    # Experimental mutual inductance
    # Measured in Henrys [H]
    M_exp = v_ind / (2 * pi * f * i_max)

    # Max voltage in the first circuit
    # Measured in Volts [V]
    v_max = i_max / 0.0506

    # Display mutual inductance
    print(f"\nMutual inductance has a mean value of {np.mean(M_exp)} henry with a standard error of {np.std(M_exp)}\n")

    # Create dataframe
    results = pd.DataFrame({
        "frequency [Hz]": f,
        "current max [A]": i_max,
        "voltage max": v_max,
        "voltage induced [V]": v_ind,
        "inductance th [H]": M_th,
        "inductance exp [H]": M_exp,
        "inductance error [H]": M_th - M_exp,
    })

    display(centered(results))

In [5]:
analysis(I1, v1)

Mutual inductance has a mean value of 0.0017385059487575352 henry with a standard error of 0.00011010583720659836

In [6]:
analysis(I2, v2)

Mutual inductance has a mean value of 0.0017501078365531114 henry with a standard error of 9.091055470042366e-05