# Setup

In [1]:
from scipy.constants import *
from math import *

import numpy as np
import pandas as pd
import seaborn as sns

print("Setup Complete")

def centered(df):
    return df.style.set_table_styles([
        {"selector": "th", "props": [("text-align", "center")]},
        {"selector": "td", "props": [("text-align", "center")]}])

Setup Complete

# Apparatus

In [2]:
# Radius of the first spire
# Measured in meters [m]
r1 = 0.105

# Windings of the first spire
n1 = 200

# Radius of the second spire
# Measured in meters [m]
r2 = 0.015

# Windings of the second spire
n2 = 2000

# Data

In [3]:
# Frequency of the alternating  corrent in the first circuit
# Measured in Hertz [Hz]
f = np.array([ 10, 20, 30, 40 ])

# Voltage in the first circuit
# Measured in Volts [A]
###################################
# sinceramente non capisco un cazzo di sti dati, datemi qualche ora che li studio meglio

I1 = np.array([ 2.874, 2.780, 2.664, 2.523 ]) * 0.0506
I2 = np.array([ 5.748, 5.561, 5.280, 4.953 ]) * 0.0506

# Induced Voltage in the first circuit (EMF)
# Measured in Volts [V]
v1 = np.array([ 0.024, 0.037, 0.041, 0.049 ])
v2 = np.array([ 0.034, 0.062, 0.081, 0.112 ])

# Analysis

In [4]:
def analysis (i_max, v_ind):

    # Theoretical mutual inductance
    # Measured in Henrys [H]
    M_th = ( mu_0 * pi * n1 * n2 * r2**2 ) / (2 * r1)

    # Experimental mutual inductance
    M_exp = v_ind / (2 * pi * f * i_max)

    # Display mutual inductance
    print(f"Mutual inductance has a mean value of {np.mean(M_exp)} farad with a standard error of {np.std(M_exp)}")

    # Create dataframe
    results = pd.DataFrame({
        "frequency [Hz]": f,
        "max induced voltage [V]": v_ind,
        "max current [A]": i_max,
        "inductance th [H]": M_th,
        "inductance exp [H]": M_exp,
        "error [H]" : M_th - M_exp
    })

    display(centered(results))

In [5]:
analysis(I1, v1)

Mutual inductance has a mean value of 0.0019651285472589903 farad with a standard error of 0.00043854922891295965

In [6]:
analysis(I2, v2)

Mutual inductance has a mean value of 0.0017501078365531114 farad with a standard error of 9.091055470042366e-05